@model IEnumerable<MVC_Crime_Start.Models.CrimeResult>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Crime Tracker</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.selectBox.css">
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.listtopie.css">
    <link rel="stylesheet" type="text/css" href="~/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="stylesheet" type="text/less" href="~/css/skin.less">
</head>

<body data-ng-app="themeonApp">
    <!--Loader Start-->
    <div class="loader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    <!--Loader End-->
    <!--Page Wrapper Start-->
    <div id="wrapper" class="home">

        <!--Header Section Start-->
        <header id="header" class="header">
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12">
                        <div class="header-cont clearfix">
                            <a asp-controller="Home" asp-action="Index" class="logo"> <img src="~/images/logo.png" alt="" /> </a>
                            <div class="header-info">
                                <div class="social-content clearfix">
                                    <div class="contact-det hidden-xs">
                                        <ul>
                                            <li>
                                                <a href="#">Our Crew </a>/
                                            </li>
                                            <li>
                                                <a href="tel:+88001234567">+1 347 247 9826 </a>/
                                            </li>
                                            <li>
                                                <a href="mailto:crimeTracker@gmail.com">crimetracker.org</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <nav class="navbar">

                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navigation clearfix">

                                            <li class="active">
                                                <a asp-controller="Home" asp-action="Index">HOME</a>
                                            </li>
                                            <li class="drop-down-parent">
                                                <a href="#">CRIMINAL RECORDS <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i> <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i> </a>

                                                <ul class="drop-down">
                                                    <li>
                                                        <a asp-controller="Home" asp-action="SearchRecord">View Crime Records</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a asp-controller="Home" asp-action="AboutUs">ABOUT US</a>
                                            </li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header Section End-->
        <!--Content Section Start-->
        <div id="content">
            <section class="banner2">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 ">
                            <h1>CRIMINAL RECORDS</h1>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="table-header">
                        <button class="CREATE">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <a asp-controller="Home" asp-action="CreateRecord">CREATE</a>
                        </button>
                        <button class="UPDATE">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <a asp-controller="Home" asp-action="UpdateRecords">UPDATE</a>
                        </button>
                        <button class="DELETE">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> 
                            <a asp-controller="Home" asp-action="DeleteRecords">DELETE</a>
                        </button>

                    </div>
                </div>
                <div class="col-2">
                    <div class="table-header" style="margin-left:700px;">
                        <form method="get" asp-controller="Home" asp-action="SearchRecord">
                            <label for="Year" style="margin-top:20px; border-radius: 10px;
                                        text-align:left;width:200px; color:black">Choose a Year:</label>

                            <select name="search" id="search" style="margin-top:20px; border-radius: 40px;
                                 text-align: left; width: 200px; color: white; background-color: saddlebrown; position: relative; top: 0px;">
                                <option value="none">Select an Option</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                            </select>
                            <button type="submit" class="btn btn-primary" style="margin-top:0px; border-radius: 10px;
                                        text-align:left;width:30px; color: white; background-color:saddlebrown">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>


                <div class="col-6">
                    <div class="table-header" style="margin-top:-45px;">

                    </div>
                </div>

            </div>

            <div class="row">


                <div class="col-12">

                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin: 0;
                                padding: 12px 25px;
                                margin-top: 40px;
                                margin-left: 0px;
                                font-size: 16px;
                                line-height: 1.5;
                                color: #fff;
                                background: #ecac4a;
                                border: none;
                                font-family: 'Open Sans', sans-serif;
                                -webkit-appearance: none;">
                        View Crime Results
                    </a>

                    @if (Model != null)
                    {
                    <p style="color:red; font-size:18px">Please click on View Results to see the output</p>
                    }


                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            @if(Model == null)
                            {
                            <p style="color:red; font-size:18px">Please select the year to View Results</p>
                            }
                            @if (Model != null)
                            {
                            <table class="table" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1" border="1">
                                <thead>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.state_abbr)</th>
                                        <th> @Html.DisplayNameFor(model => model.year)</th>
                                        <th> @Html.DisplayNameFor(model => model.population)</th>


                                        <th> @Html.DisplayNameFor(model => model.arson)</th>
                                        <th> @Html.DisplayNameFor(model => model.homicide)</th>
                                        <th> @Html.DisplayNameFor(model => model.robbery)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                        {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.state_abbr)</td>
                                        <td>@Html.DisplayFor(modelItem => item.year)</td>
                                        <td> @Html.DisplayFor(modelItem => item.population) </td>

                                        <td> @Html.DisplayFor(modelItem => item.arson) </td>
                                        <td> @Html.DisplayFor(modelItem => item.homicide) </td>
                                        <td> @Html.DisplayFor(modelItem => item.robbery) </td>

                                    </tr>
}
                                </tbody>
                            </table>
                            <style>
                                .ppo{
                                    position:relative;
                                }
                                .ppo::after{
                                    position:absolute;
                                    left: 0;
                                    top:0;
                                    height:50px;
                                    width:200px;
                                    content:'';
                                    background: #000;
                                    z-index: 9999;
                                }
                            </style>
                            <canvas id="barchartexample" width="400" height="200" class="ppo"></canvas>}

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <div id="testDiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <!--Table Section End-->
        <!--Footer Section start-->
        <footer id="footer" class="bdr-0">
            <div class="main_fotter">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="about-us-footer">
                                <h5 class="view-title-style">About Us</h5>
                                <p>
                                    MUMA COLLEGE OF BUSINESS
                                    DISTRIBUTED INFORMATION SYSTEM
                                </p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 text-center footer-img-gap">
                            <a asp-controller="Home" asp-action="Index" class="footer-logo"><img src="~/images/footer-logo.jpeg" alt="" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-right contact-info-footer">
                            <h5 class="view-title-style">Contact Us</h5>
                            <address>
                                4202 E Fowler Ave<span class="line-break"></span>
                                Tampa <span class="line-break"></span>
                                FL 33620 <span class="line-break"></span>
                                Email:<a href="mailto:crimeTrackera@gmail.com"> crimetracker.org</a><span class="line-break"></span>
                                Phone: <a href="tel:88001234567">1 347 247 9826</a><span class="line-break"></span>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-footer">

            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <span>&copy; All Rights Reserved. Created by TEAM USF</span>
                </div>
            </div>
        </footer>

        <!--Footer Section End-->

        <script>
            //trigger the search values
            function setvalue() {
                var data = document.getElementById("search").value;
                document.getElementById("search").innerHTML = data;
            }
            function seButton(id) {
                var data = document.getElementById("search").value;
                document.getElementById("search").innerHTML = data;
            }
        </script>
        <!--Page Wrapper End-->

        <script type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/less.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.js"></script>
        <script type="text/javascript" src="~/js/jquery.selectBox.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ThrowPropsPlugin.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/DrawSVGPlugin.js?r=12"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/AnticipateEase.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js"></script>
        @*<script src="~/js/bar-chart.js"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
        <script>
    new Chart(document.getElementById("barchartexample"), {
        type: 'bar',
        title: {
            text: "Title in Big Fonts",
            fontSize: 50,
        },
        
        data: {
            labels: [@Html.Raw(ViewBag.crimes)],
          datasets: [
              {
                  label: "Total count of crimes",
                    
            backgroundColor: [@Html.Raw(ViewBag.colors)],
            data: [@ViewBag.counts]
          }
        ]
      },
        options: {
            //title: {
            //    display: true,
            //    text: "Total count of crimes"
            //},
            aspectRatio: 6,
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                yAxes: [{
                    ticks: {
                        reverse: false,
                        stepSize: 10000
                    },
                }]
            },

            plugins: {
                legend: {
                    display: false,
                    fontSize: 30,
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 50
                        }
                    }
                }

            }//end of plugins
        }
    //});
    });
        </script>

</body>
</html>

